<footer>
    <div class="row primary">
      <div class="column links">
         <h3>COURS</h3>
         <ul class="uli">
            <li class="lil">
               <a href="#cookies-policy" class="nav__link">DIPLOME</a>
            </li>
            <li class="lil">
               <a href="#terms-of-services" class="nav__link">Formations</a>
            </li>
            <li class="lil">
               <a href="#terms-of-services" class="nav__link">Langues</a>
            </li>
         </ul>
      </div>
      <div class="column links">
         <h3>I.F.I.C</h3>
         <ul class="uli">
            <li class="lil">
               <a href="#cookies-policy" class="nav__link">NOTRE HISTOIRE</a>
            </li>
            <li class="lil">
               <a href="#terms-of-services" class="nav__link">NOTRE MISSION</a>
            </li>
         </ul>
      </div>
       <div class="column links">
          <h3>ADMISSIONS</h3>
          <ul class="uli">
             <li class="lil">
                <a href="#cookies-policy" class="nav__link">ADMISSIONS PROGRAMMES INTERNATIONAUX</a>
             </li>
             <li class="lil">
                <a href="#terms-of-services" class="nav__link">ETUDIANTS INTERNATIONAUX</a>
             </li>
             <li class="lil">
               <a href="#cookies-policy" class="nav__link">FINANCEMENT DES ÉTUDES</a>
            </li>
            <li class="lil">
               <a href="#terms-of-services" class="nav__link">BOURSES</a>
            </li>
            <li class="lil">
               <a href="#terms-of-services" class="nav__link">HÉBERGEMENT</a>
            </li>
          </ul>
       </div>
       <div class="column links">
          <h3>PRESSE</h3>
          <ul class="uli">
             <li class="lil">
                <a href="#cookies-policy" class="nav__link">COMMUNIQUÉS DE PRESSE</a>
             </li>
             <li class="lil">
                <a href="#terms-of-services" class="nav__link">ACTUALITÉS</a>
             </li>
          </ul>
       </div>
    </div>
    <div class="copyright">
       <span>Copyright &copy; 2022</span>
       <i class="fa-solid fa-phone"> 26 220 415 </i>
       <i class="fa-solid fa-envelope"> contact@IFIC-formation.com </i>
       <i class="fa-brands fa-facebook" style="align-items: right;"></i>
       <i class="fa-brands fa-twitter"></i>
       <i class="fa-brands fa-instagram"></i>
    </div>
 </footer>