<header>
    <div >
       <a href="/" class="site-logo" aria-label="homepage">I.F.I.C</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>    
    </div>
    <nav class="main-nav">
       <!-- ============================================================================================ -->
       <input type="checkbox" id="burger-toggle">
       <label for="burger-toggle" class="burger-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
       </label>
       <div class="menu">
          <div class="menu-inner">
             <ul class="menu-nav">
                <li class="menu-nav-item">
                   <a class="menu-nav-link" href="navtel/cours.html">
                      <span>
                         <div>Cours</div>
                      </span>
                   </a>
                </li>
                <li class="menu-nav-item">
                   <a class="menu-nav-link" href="navtel/i.f.i.c.html">
                      <span>
                         <div>I.F.I.C</div>
                      </span>
                   </a>
                </li>
                <li class="menu-nav-item">
                   <a class="menu-nav-link" href="navtel/ADMISSIONS.html">
                      <span>
                         <div>Adminissions</div>
                      </span>
                   </a>
                </li>
                <li class="menu-nav-item">
                   <a class="menu-nav-link" href="#">
                      <span>
                         <div>Presse</div>
                      </span>
                   </a>
                </li>
                <li class="menu-nav-item">
                   <a class="menu-nav-link" href="contact.html">
                      <span>
                         <div>Contact</div>
                      </span>
                   </a>
                </li>
                <li class="menu-nav-item">
                   <a class="menu-nav-link" href="login/login.html">
                      <span>
                         <div>Login</div>
                      </span>
                   </a>
                </li>
                <li class="menu-nav-item">
                   <a class="menu-nav-link" href="login/join.html">
                      <span>
                         <div>Join</div>
                      </span>
                   </a>
                </li>
             </ul>
             
             <div class="gallery">
                <div class="title">
                   <p>Sora Gallery</p>
                </div>
                <div class="images">
                   <a class="image-link" href="#">
                      <div class="image" data-label="Star"><img src="https://i.loli.net/2019/11/23/cnKl1Ykd5rZCVwm.jpg" alt=""></div>
                   </a>
                   <a class="image-link" href="#">
                      <div class="image" data-label="Sun"><img src="https://i.loli.net/2019/11/16/FLnzi5Kq4tkRZSm.jpg" alt=""></div>
                   </a>
                   <a class="image-link" href="#">
                      <div class="image" data-label="Tree"><img src="https://i.loli.net/2019/10/18/uXF1Kx7lzELB6wf.jpg" alt=""></div>
                   </a>
                   <a class="image-link" href="#">
                      <div class="image" data-label="Sky"><img src="https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg" alt=""></div>
                   </a>
                </div>
             </div>
          </div>
       </div>
       <!-- ====================================================================================================== -->
       <ul class="nav__list listbg" style="text-align: center;">
          <div class="dropdown">
             <li class="nav__list-item">
                <a class="nav__link">Cours</a>
             </li>
             <div class="dropdown-content nav__list-item">
                <ul>
                   <li>
                      <a href="/diplome" class="nav__link">Diplômes</a>
                   </li>
                   <li>
                      <a href="/formation" class="nav__link">Formations</a>
                   </li>
                   <li>
                      <a href="/langue_main" class="nav__link">Langues</a>
                   </li>
                </ul>
             </div>
          </div>
          <div class="dropdown">
             <li class="nav__list-item">
                <a class="nav__link">I.F.I.C</a>
             </li>
             <div class="dropdown-content nav__list-item">
                <ul>
                   <li>
                      <a href="/notre_histoire" class="nav__link d">NOTRE HISTOIRE</a>
                   </li>
                   <li>
                      <a href="/notre_mission" class="nav__link d">NOTRE MISSION</a>
                   </li>
                </ul>
             </div>
          </div>
          <div class="dropdown">
             <li class="nav__list-item">
                <a class="nav__link">ADMISSIONS</a>
             </li>
             <div class="dropdown-content nav__list-item">
                <ul>
                   <li>
                      <a href="/programmes" class="nav__link">ADMISSIONS PROGRAMMES INTERNATIONAUX</a>
                   </li>
                   <li>
                      <a href="/etudiant" class="nav__link">ETUDIANTS INTERNATIONAUX</a>
                   </li>
                   <li>
                      <a href="/financement" class="nav__link">FINANCEMENT DES ÉTUDES</a>
                   </li>
                   <li>
                      <a href="/bourses" class="nav__link">BOURSES</a>
                   </li>
                   <li>
                      <a href="/hebergement" class="nav__link">HÉBERGEMENT</a>
                   </li>
                </ul>
             </div>
          </div>
          <div class="dropdown">
             <li class="nav__list-item">
                <a class="nav__link">PRESSE</a>
             </li>
             <div class="dropdown-content nav__list-item">
                <ul>
                   <li>
                      <a href="/communiques" class="nav__link">COMMUNIQUÉS DE PRESSE</a>
                   </li>
                   <li>
                      <a href="/actualites" class="nav__link">ACTUALITÉS</a>
                   </li>
                </ul>
             </div>
          </div>
       </ul>
    </nav>
    <nav class="account">
       <ul class="nav__list">
         <li class="nav__list-item">
            <a class="nav__link nav__link--btn" href="/contact">Contact</a>
         </li>
          <li class="nav__list-item">
             <a class="nav__link nav__link--btn" href="/login">Login</a>
          </li>
          <li class="nav__list-item">
             <a class="nav__link nav__link--btn nav__link--btn--highlight" href="/user" >Inscription</a>
          </li>
       </ul>
    </nav>
 </header>