<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <link rel="stylesheet" href="../Assets/css/btsbtplang.css">
      <link rel="stylesheet" href="../Assets/css/pogrammation.css">
      <title>Deplôme BTP</title>
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
      <!-- ======================================================================================================= -->
      <div style="height: 200px;"></div>
      <!-- ========================================================================================================= -->
      <!-- Logo image -->
      <div class="Logo">
         <h2 class="Textarea s" style="margin-top: 50px; font-size: 30px;">
            Formations Accélérées
         </h2>
      </div>
      <section class="section-what-do container " >
         <h2 class="titre">Objectifs</h2>
         <div class="wrapper">
            <div class="items">
               <article >
                  <h2 >Langages de programmation</h2>
                  <h5 >Initiation C++ :</h5>
                  <ul class="uld">
                     <li class="lid" >  Acquérir une formation à l'approche objet et aux spécificités du langage C++. </li>
                     <li class="lid" >  Apprendre la syntaxe du langage C++ et utiliser un bon style de programmation. </li>
                     <li class="lid" > Durée: 30H </li>
                  </ul>
                  <h5 >Perfectionnement C++:</h5>
                  <ul class="uld">
                     <li class="lid" > Approfondissement des mécanismes du C++. </li>
                     <li class="lid" > Durée: 30H </li>
                  </ul>
                  <h5 >VB.net:</h5>
                  <ul class="uld">
                     <li class="lid" >  Permettre aux programmeurs d'exploiter efficacement l'environnement d'exécution .NET. </li>
                     <li class="lid" >  Apporter les connaissances et les  techniques nécessaires pour construire des applications Visual BASIC complètes,  en relation avec les bases de données. </li>
                     <li class="lid" >  Développer les compétences nécessaires pour tirer parti de la combinaison de syntaxe orientée composant et de syntaxeorientée objet dans Visual Basic  pour une meilleure réutilisation du code. </li>
                     <li class="lid" > Durée: 30H </li>
                  </ul>
                  <h5 > Initiation JAVA:</h5>
                  <ul class="uld">
                     <li class="lid" >  Accéder aux meilleures pratiques et à une autonomie dans les développements Java. </li>
                     <li class="lid" >  Introduire de solides notions d'analyse et de conception objet. </li>
                     <li class="lid" >  Intégrer l'ensemble des concepts fondamentaux du langage et de la programmation obje. </li>
                     <li class="lid" >  Aborder la programmation d'interface graphique. </li>
                     <li class="lid" > Durée: 30H </li>
                  </ul>
                  <h5 > Perfectionnement JAVA:</h5>
                  <ul class="uld">
                     <li class="lid" >  Maîtriser les concepts les plus avancés afin de tirer profit de toute la puissance du langage Java. </li>
                     <li class="lid" >  Optimiser ses développements en java et développer des applications n-tiers. </li>
                     <li class="lid" >   Étudier les modèles de conception que l'on retrouve habituellement dans les applications Java. </li>
                     <li class="lid" > Durée: 30H </li>
                  </ul>
               </article>
            </div>
         </div>
      </section>
      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>