<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <link rel="stylesheet" href="css/Diplome.css">
      <title>Diplome</title>
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
                  <!-- ======================================================================================================= -->
                  <div style="height: 100px;"></div>
                  <!-- ======================================================================================================= -->      
      
      <div class="rak wrapper serv container">
         <div class="image">
            <img src="https://media0.giphy.com/media/fAiEvu5pwkBIMPrblw/giphy.gif" alt="">
         </div>
         <div class="text">
            <h2>Qu’est ce qu'une formation continue ?</h2>
            <div class="story">
               <p>L' I.F.I.C développe son expertise dans la formation continue qui prend la forme de formations accélérées et de parcours métiers.</p>
               <p>Notre centre a pour but d'assurer aux salariés, employés ou demandeurs d'emploi, une formation destinée à conforter, améliorer ou acquérir des connaissances professionnelles.</p>
               <h2 > <a href="/formations_accelerees" class="under">- Formations accélérées</a></h2>
            </div>
         </div>
      </div>


      <div class="hid wrapper">
         <h2>Qu’est ce qu'une formation continue ?</h2>
         <div class="story">
            <p>L' I.F.I.C développe son expertise dans la formation continue qui prend la forme de formations accélérées et de parcours métiers.</p>
            <p>Notre centre a pour but d'assurer aux salariés, employés ou demandeurs d'emploi, une formation destinée à conforter, améliorer ou acquérir des connaissances professionnelles.</p>
            <h2 > <a href="/formations_accelerees" class="under">- Formations accélérées</a></h2>
         </div>
      </div>

      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>