<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>Formation Word</h2>
               <ul class="uld">
                  <p class="lid">Permettre aux programmeurs d'exploiter efficacement l'environnement d'exécution .NET.</p>
                  <p class="lid">Apporter les connaissances et les  techniques nécessaires pour construire des applications Visual BASIC complètes,  en relation avec les bases de données.</p>
                  <p class="lid">Développer les compétences nécessaires pour tirer parti de la combinaison de syntaxe orientée composant et de syntaxeorientée objet dans Visual Basic  pour une meilleure réutilisation du code.</p>
                  <p class="lid">Durée: 30H</p>
               </ul>
            </article>
      </div>
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/formations_accelerees">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../partials/scripte.ejs') %>
</body>
</html>