@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url('https://fonts.cdnfonts.com/css/trocchi');

section{
    margin-bottom: 10%;
    position: relative;
}

p:before {
    color: #fca80b;
    content: "\f105";
    font-family: "FontAwesome";
    margin: 0 10px 0 0;
}
    
.box-container{
    border-left: solid 1px red;
    position: relative;

}

.box{
    margin-left: 100px;

}

.frst-date{
    font-size: larger;
}


.tarif{
    line-height: 32px;
}



.titre{
    padding: 15px 0 0 0;
}