@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url('https://fonts.cdnfonts.com/css/trocchi');

.box-container{
    border-left: solid 1px red;
    position: relative;

}
section{
    margin: 0 10% 5% 10%;
    border-radius: 50px;
}
.box{
    margin-left: 100px;

}

.frst-date{
    font-size: larger;
}

h2{
    color: #ffac4e;
}

.tarif{
    line-height: 32px;
    padding-left: 50px;
}


hr{
    margin-top: 20px;
    border: 0;
    border-top: 4px solid #eee;
}