@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url('https://fonts.cdnfonts.com/css/trocchi');
.section-what-do {
    padding: 40px 0 0px 0;
    padding-top:0px;
    margin-top:100px;
    padding-bottom:80px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    position: relative;
    border-radius: 50px;
    border: 10px;
    border-color: #ffac4e;
}

.ret{
    text-shadow:
    -1px 0px 0px rgba(0, 0, 0),
    1px 0px 0px rgba(0, 0, 0),
    0px -1px 0px rgba(0, 0, 0),
    0px 1px 0px rgba(0, 0, 0);
    text-decoration: underline;
    opacity: 75%;
}

.ret:hover{
    opacity: 100%;
    cursor: pointer;
}

.wrapper {
    box-sizing: border-box;
    padding:0 20%;
    background: transparent !important;
}

.items {
    display: block;
    width: 100%;
    margin-left: 0%;
}

.items article {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    padding-left: 53px;
    margin-right: 1.5%;
    margin-bottom: 10px;
    margin-top: 14px;
    width: 100%;
}

i {
    font-size: 29px;
    position: absolute;
    top: -3%;
    left: 0%;
    color: #ffffff;
}

.uld {
    list-style: none;
}

.lid {
    list-style: none;
    letter-spacing: 2px !important;
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    margin: 0px;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: #f3efe7;
    font-family: 'Trocchi', serif !important; 

}

h2{
    color: #ffac4e;
    text-align: left;
    margin-bottom: 0px;
    position: relative;;
    
}

.titre{
    text-align: center;
    padding-bottom: 30px;
    color: #ffac4e;
    margin-bottom: 10px;
    text-decoration: underline;
}


@media (max-width: 776px) {
    .wrapper{
        padding: 0px 0px;
    }
  }