.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: rgb(248, 9, 9);
}

.popular{
    margin: 2%;
}

.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.popular .box-container .box{
    flex: 1 1 25rem;
    padding: 2rem;
    background: rgba(251, 250, 250, 0.388);
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
    border: 0.1rem solid rgb(0, 0, 0, 3);
    border-radius: 0.5rem;
    text-align: center;
    position: relative;
}

.popular .box-container .box img{
    height: 15rem;
    object-fit: cover;
    width: 100%;
    border-radius: 0.5rem;
}

.popular .box-container .box .price{
    position: absolute;
    top: 3rem ; left: 3rem;
    background: var(--red);
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.popular .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding-top: 1rem;
}