/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.cdnfonts.com/css/trocchi');

body{
    font-family: 'Trocchi', serif !important;
}

.Textarea{
  opacity: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: all 1s ease-in-out;
  margin-top: 25%;
  display: none;
  position: relative;
  line-height: 1.5;
}

.Textarea span{
  font-size: 40px;
  color: bisque;
}

.hid{
  position: relative;
  display: none;
}

.button1{
  width: 300px;
  height: 200px;
  cursor: pointer;
  font-size: 2rem;
  background-image: url(../image/BTP.png);
  background-size: cover;
  opacity: 0.8;
  border-radius: 50px;
  transition: opacity 300ms ease-in-out;
}

.button2{
  width: 300px;
  height: 200px;
  cursor: pointer;
  font-size: 2rem;
  background-image: url(../image/BTS.png);
  background-size: cover;
  opacity: 0.8;
  border-radius: 50px;
  transition: opacity 300ms ease-in-out;
}


.button1:hover{
  border-width: 5px;
  border-color: #ff620083;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.button2:hover{
  border-width: 5px;
  border-color: #ff620083;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}


.under{
  text-decoration: underline;
  color: rgb(255, 183, 94) !important;
}

.under:hover{
  text-decoration: none;
  color: rgb(255, 162, 48) !important;
  cursor: pointer;
}

.wrapper{
  max-width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0) !important;
}

.serv{
  padding: 40px;
  text-align: justify;
}

.serv .image{
  float: left;
  width: 52.3%;
  margin-right: 2.7%;
  border-radius: 10px;
  display: block;
}

.serv .text{
  float: left;
  width: 40%;
  text-align: justify;
}

.serv h2{
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  color: bisque;
}

.story{
  line-height: 1.5;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.serv .story{
  font-size: 20px;
  text-align: justify !important;
}

.rak{
  position: relative;
  margin-top: 100px;
  display: block;
}

img{
  width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
  outline: 0;
}

.ba:hover{
  background-color: rgba(0, 0, 0, 0.05);
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*===== CARD =====*/
.container {
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

.card {
  display: block;
  width: 95px;
  min-height: 95px;
  background: #f4f4f4;
  padding: 1rem;
  transition: all 250ms;
  margin: 50px;
}
.card:hover, .card:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-5px);
}
.card:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-2px);
}

.card-bel {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.card-ab {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
}

body {
  background-color: #f2f2f2;
}

.record_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.record_w {
    flex: 1 1 25rem;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    position: relative;
    margin-bottom: 5%;
}

.record {
  position: relative;
  width: 30%;
  height: 20vw;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: box-shadow 300ms;
  opacity: 0.8;
}

.record:hover {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.record-arrow {
  position: absolute;
  padding: 3%;
  background-image: url("http://www.portalguard.com/images/icons/right-arrow.png");
  transform: translateX(75%);
  opacity: 0;
  transition: all 100ms ease-in-out;
}
.record-arrow img {
  width: 8%;
  height: 8%;
}

.record:hover .record-arrow {
  transform: translateX(85%);
  opacity: 1;
}

.record-display {
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}

.record:hover .record-display{
  height: 20%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.imageb{
  width: 100%;
  display: block;
}

.record-desc {
  margin: 20px 0 0 10px;
  opacity: 0;
  transition: opacity 100ms ease-in-out 100ms;
}
.record-desc h1 {
  margin: 5px 0;
  font-size: 35px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Trocchi', serif !important;
}

.record-desc p {
  font-size: 25px;
  line-height: 1.4em;
  color: rgb(0, 0, 0);
  font-family: 'Trocchi', serif !important;
}

#record1 {
  transition: height 100ms;
}

#record3 {
  transition: height 100ms;
}

.record:hover .record-desc {
  opacity: 1;
}

.tagline {
  margin: 50px 0;
  text-align: center;
  color: green;
}


@media(max-width :687px ){
  .container {
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color-lighten);
    margin-left: 58%;
    display: initial;
    height:0px;
  }
  section{
    padding-left: 20%;
  }
}
@media(max-width: 1155px){

  .rak{
    display: none;
  }

  .hid{
    display: block;
    margin: 5%;
    color: white;
  }

  .record_wrap{
    flex: 1 1 25rem;
  }
}