.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  /* Style the links inside the navigation bar */
  .site-logo {
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--text);
    text-decoration: none;
    border: none !important;
  }

  .site-logo:hover{
    color: rgb(255, 183, 94) !important;
  }
    
  header {
    --text: #f4f4f4;
    --text-inverse: #333;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);
    color: var(--text);
  }

  .listbg{
    background-color: rgb(0, 0, 0, 0.8) !important;
    border-radius: 50px;
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    color: white !important;
    list-style-type: circle;
  }
  
  .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    color: white !important;
  }
  
  .nav__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    color: white;
  }
  
  .nav__link--btn {
    border: 1.5px solid currentColor;
    border-radius: 2em;
    margin-left: 1em;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
  }
  
  .nav__link--btn:hover {
    background: var(--text);
    color: var(--text-inverse);
    border-color: var(--text);
    color: rgb(255, 183, 94) !important;
    font-weight: bold;
  }
  
  .nav__link--btn::after {
    display: none;
  }
  
  .nav__link--btn--highlight {
    background: limegreen;
    border-color: limegreen;
    color: #333;
  }
  
  .nav__link--btn--highlight:hover {
    background: var(--text);
    border-color: var(--text);
  }
  
  .nav-scrolled {
    --text: #333;
    --text-inverse: #f4f4f4;
    --background: #f4f4f4;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }

  /* ====================================================================================== */
  @import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
  p {
    margin: 0;
  }
  
  #burger-toggle {
    position: relative;
    appearance: none;
    opacity: 0;
  }
  #burger-toggle:checked ~ .menu {
    opacity: 1;
    visibility: visible;
  }
  #burger-toggle:checked ~ .menu .menu-nav-link span div,
  #burger-toggle:checked ~ .menu img,
  #burger-toggle:checked ~ .menu .title p {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
  }
  #burger-toggle:checked ~ .menu .image-link:nth-child(1) img {
    transition-delay: 0.18s;
  }
  #burger-toggle:checked ~ .menu .image-link:nth-child(2) img {
    transition-delay: 0.26s;
  }
  #burger-toggle:checked ~ .menu .image-link:nth-child(3) img {
    transition-delay: 0.34s;
  }
  #burger-toggle:checked ~ .menu .image-link:nth-child(4) img {
    transition-delay: 0.42s;
  }
  #burger-toggle:checked ~ .burger-menu .line::after {
    transform: translateX(0);
  }
  #burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
    transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
  }
  #burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
    transform: scaleX(0);
  }
  #burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
    transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
  }
  
  .burger-menu {
    --burger-menu-radius: 4em;
    position: absolute;
    top: 5vh;
    right: 5vw;
    z-index: 100;
    display: none;
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;
  }
  .burger-menu .line {
    position: absolute;
    right: 25%;
    width: 50%;
    height: 3px;
    background: rgba(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .burger-menu .line:nth-child(1) {
    top: 30%;
  }
  .burger-menu .line:nth-child(2) {
    top: 50%;
  }
  .burger-menu .line:nth-child(3) {
    top: 70%;
  }
  .burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color-darker);
    transform: translateX(-100%);
    transition: 0.25s;
  }
  .burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
  }
  .burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
  }
  .burger-menu:hover .line::after {
    transform: translateX(0);
  }
  
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1e23;
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;
  }
  @media screen and (max-width: 750px) {
    .menu {
      display: block;
    }
  }
  .menu-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: circle;
  }
  @media screen and (max-width: 750px) {
    .menu-nav {
      flex-direction: column;
    }
  }
  .menu-nav-item {
    flex: 1;
  }
  .menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 2rem;
    color: #f4f4f4;;
    text-decoration: none;
    padding: calc(var(--spacing) / 2) var(--spacing);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .menu-nav-link span {
    overflow: hidden;
  }
  .menu-nav-link span div {
    transform: translateY(102%);
  }
  .menu-nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    right: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .menu-nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }
  .menu .gallery {
    margin-top: 60px;
    text-align: center;
  }
  .menu .title {
    font-size: 24px;
    color: white;
    overflow: hidden;
  }
  .menu .title p {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateY(102%);
  }
  .menu .images {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 750px) {
    .menu .images {
      justify-content: center;
    }
  }
  .menu .images .image-link {
    width: 15vw;
    margin: 0 12px;
    overflow: hidden;
  }
  @media screen and (max-width: 750px) {
    .menu .images .image-link {
      width: 40vw;
    }
  }
  .menu .images .image-link .image {
    position: relative;
    transition: 0.6s;
  }
  .menu .images .image-link .image::before {
    position: absolute;
    content: attr(data-label);
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.4s;
  }
  .menu .images .image-link:hover .image {
    transform: scale(1.2);
  }
  .menu .images .image-link:hover .image::before {
    opacity: 1;
  }
  .menu .images img {
    height: 250px;
    transform: translateY(102%);
  }
  /* ====================================================================================== */

@media (max-width: 860px) {
  .nav__list {
    display: none;
  }
  .burger-menu{
    display: block;
  }
}

