.menu{
  text-align: center;
  font-size: 50px;
  margin-top: 35%;
  position: relative;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}