@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url('https://fonts.cdnfonts.com/css/trocchi');

section{
    margin-bottom: 10%;
}

.box-container{
    border-left: solid 1px red;
    position: relative;

}

.box{
    margin-left: 100px;

}

.frst-date{
    font-size: larger;
}


.tarif{
    line-height: 32px;
}

p:before {
    color: #fca80b;
    content: "\f105";
    font-family: "FontAwesome";
    margin: 0 10px 0 0;
}

.titre{
    text-align: center;
    padding-bottom: 30px;
    color: #ffac4e;
    margin-bottom: 10px;
    text-decoration: underline;
}

.Textarea{
    opacity: 100%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .Logo{
    max-width: 100%;
    height: auto;
    color: white;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }