@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url('https://fonts.cdnfonts.com/css/trocchi');
.section-what-do {
    padding: 40px 0 0px 0;
    background-color: #f3efe7;
    background-color: #f7f7f7; 
    padding-top:0px;
    margin-top:100px;

}

.wrapper {
    box-sizing: border-box;
    padding:0 20%;
}

.items {
    display: block;
    width: 100%;
    margin-left: 0%;
}

.items article {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;

    margin-bottom: 10px;
    margin-top: 14px;
    width: 100%;
}

i {
    font-size: 29px;
    position: absolute;
    top: -3%;
    left: 0%;
    color: #ffffff;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    letter-spacing: 2px !important;
    font-size: 16px;
    color: #868482 !important;
    text-align: left;
    line-height: 20px;
    margin: 0px;
    margin-top: 20px;
    line-height: 32px;
}

a{
    text-decoration: none;
    color: #f3efe7;
    font-family: 'Trocchi', serif !important; 

}

h2{
    color: #ffac4e;
    text-align: center;
    margin-bottom: 0px;
    position: relative;;
}



.s{
    color: aliceblue;
}

.info{
    margin-top: 15px;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0,0.1);
    border: 0.1rem solid rgb(0, 0, 0 ,0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.p{
    text-align: center;
    font-size: 50px;
}

.z{
    text-align: justify;
    color: white;
}

@media (max-width: 767px) {
    .z{
        text-align: initial;
    }
}