@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url('https://fonts.cdnfonts.com/css/trocchi');

body{
  font-family: 'Trocchi', serif !important;
  background-position: bottom !important;
  background-color: rgb(0, 0, 0) !important;
}

section{
  color: white;
}

.description {
  background: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
}

h1 { 
  font-size: 100px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0; 
}

.description .col {
  display: inline-block;
  width: 30%;
}

table {
  position: relative;
}

td {
  width: 30%;
  vertical-align: top;
}

.Logo{
  max-width: 100%;
  height: auto;
  color: white;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.logo1{
  max-width: 80%;
  margin-left: 10%;
}

.Logo:hover{
  opacity: 100%;
}

.Textarea{
  opacity: 100%;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.218);
  transition: all 1s ease-in-out;
  margin-top: 50px; 
  font-size: 25px !important;
  color: aliceblue;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(75%) !important;
}

/* start of cards -----------------------------------------------------------------------------------------------*/

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
  
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  font-family: var(--font-sans);
  background-color: antiquewhite;
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:hover{
  cursor: pointer;
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://c.tenor.com/INNMFPEpExwAAAAC/writing-quill-magic.gif);
}
.card:nth-child(2):before {
  background-image: url(https://i.makeagif.com/media/7-30-2015/n5bUnG.gif);
}
.card:nth-child(3):before {
  background-image: url(https://64.media.tumblr.com/4765b658048791833c4269dabac1a60a/498a05be4529476e-c3/s540x810/1698bd73a4414f918fe8d38ae7bc36897c6e5908.gif);
}
.card:nth-child(4):before {
  background-image: url(https://i0.wp.com/bestanimations.com/Books/writing/writing-notes-book-old-feather-animated-gif.gif);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
  
@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* end of cards ------------------------------------------------------------------------------------------------*/



  /* =========================================================================================================== */
  /* Start of text/image */  
  .grid-container {
    display: grid;
    grid-template: repeat(6, [row] 1fr)/repeat(12, [col] 1fr);
    grid-gap: 20px;
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 90vh;
  }
  
  .item-1,
  .item-2 {
    align-items: center;
    justify-items: center;
    line-height: 1;
    color: white;
    display: flex;
  }
  
  .item-1 {
    grid-column: col 2/span 7;
    grid-row: row 2/span 4;
    z-index: 2;
  }
  @media (max-width: 700px) {
    .item-1 {
      grid-column: col 2/span 11;
      grid-row: row 1/span 3;
    }
  }
  
  .item-2 {
    grid-column: col 5/span 8;
    grid-row: row 1/span 6;
    z-index: 1;
  }
  
  @media (max-width: 700px) {
    .item-2 {
      grid-column: col 1/14;
      grid-row: row 2/7;
    }
  }
  
  .imageT {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.95);
    visibility: hidden;
    max-height: calc(90vh - 40px);
  }

  @media (max-width: 700px) {
    .imageT {
      height: 100%;
      max-height: 100%;
    }
    .Textarea {
      font-size: 20px;
    }
    .logo1{
      max-width: 100%;
      margin-left: 2%;
    }    
  }


  h1 {
    font-size: 3rem;
    font-family: termina, sans-serif;
    text-transform: lowercase;
    overflow: hidden;
    display: block;
    line-height: 1.1;
  }
  h1 span {
    visibility: hidden;
  }
  /* end of text/image */