<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Inscription</title>
      <link rel="stylesheet" href="css/join.css">
   </head>
   <body>
      <div class="container">
         <form action="/inscription" method="post">
         <div class="card">
            <h3>Inscription</h3>

                  <div class="inputBox">
                     <input type="text" required="required" name="username">
                     <span>Username</span>
                  </div>
                  <div class="inputBox">
                     <input type="text" required="required" name="tel">
                     <span>Telephone</span>
                  </div>

                  <div class="inputBox">
                     <input type="text" required="required" name="email">
                     <span>Adresse Mail</span>
                  </div>
                  <div class="inputBox">
                     <input type="password" required="required" name="password">
                     <span>Password</span>
                  </div>
            <button name="submitDetails">Enter</button>
         </div>
      </form>
      </div>
   </body>
</html>