<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">

    <script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
    <div class="container">
        <div class="card">
            <h3>Login</h3>
            <form id="form" method="post">
            <div class="inputBox">
                <input type="text" required="required" name="email">
                <span>E-mail</span>
            </div>

            <div class="inputBox">
                <input type="password" required="required" name="password">
                <span>Password</span>
            </div>

            <button>Enter</button>
        </form>
		<p class="txt">Si vous n'avez pas de compte, veuillez vous <a href="/user">Inscrire</a> ou retourner à la page <a href="/">D'accueil</a></p>
        </div>
    </div>
</body>
</html>
