<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Inscription</title>
      <link rel="stylesheet" href="css/join.css">
      <link rel="icon" type="image/x-icon" href="image/Logo111.png" style="width: 50%; height: 50%;">

      <script type="text/javascript">
         $(document).ready(function(){
   
            $( "#form1" ).submit(function(event) {
               event.preventDefault();
   
               $.ajax({
                  type: 'POST',
                  url: '/user',
                  data: $('#form1').serialize(),
                  dataType: "json",
                  success: function(response){
                     //alert("a");
                     //console.log(response.Success);
                     $('#form1')[0].reset();
   
                     document.getElementById("check").innerHTML=response.Success;
                           //ADD THIS CODE
                           setTimeout(function(){
                              document.getElementById("check").innerHTML="";
                           },3000);
                           if (response.Success=="You are regestered,You can login now.") {
                              document.getElementById("aa").click();
                           };
                        },
                        error: function() {
                        }
                     })
            });
         });
      </script>
   </head>
   <body>
      <div class="container">
         <div class="card">
            <h3>Inscription</h3>
            <form id="form1" method="post">
                  <div class="inputBox">
                     <input type="text" required="required" name="username">
                     <span>Nom et Prenom</span>
                  </div>

                  <div class="inputBox">
                     <input type="email" required="required" name="email">
                     <span>Adresse Mail</span>
                  </div>

                  <div class="inputBox">
                     <input type="password" required="required" name="password">
                     <span>Password</span>
                  </div>

                  <div class="inputBox">
                     <input type="password" required="required" name="passwordConf">
                     <span>Confirm Password</span>
                  </div>

            <button name="submitDetails">Sign up</button>
         </form>
         <p class="txt">Si vous avez déjà un compte, veuillez vous <a href="/login">Login</a> ou retourner à la page <a href="/">D'accueil</a></p>
         </div>
      </div>
   </body>
</html>