<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <title>Choisir Nous</title>
      <link rel="stylesheet" href="css/actualites.css">
      <link rel="stylesheet" href="css/Langue.css">
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
      <!-- ======================================================================================================= -->
      <div style="height: 200px;"></div>
      <!-- ========================================================================================================= -->
      <!-- Logo image -->

      <div class="Logo">
         <h2 class="Textarea" style="margin-top: 50px; font-size: 30px;">
            <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
               <div class="frst-timeline-img"><span>&nbsp;</span></div>
               <div class="frst-timeline-content">
                  <div class="frst-timeline-content-inner">
                     <h2 class="tarif" style="color: #ffac4e;">ACTUALITÉS</h2>
                     <p style="opacity: 0%;">...</p>
                  </div>
               </div>
            </div>
         </h2>
      </div>


      <section class="popular" id="popular">
         <div class="box-container">
            <div class="box">
               <img src="https://www.imset.ens.tn/uploads/content/medium/1668600124_article.png" alt="">
            </div>
            <div class="box">
               <img src="https://www.imset.ens.tn/uploads/content/medium/1665497616_article.jpg" alt="">
            </div>
            <div class="box">
               <img src="https://www.imset.ens.tn/uploads/content/medium/1662995689_article.jpg" alt="">
            </div>
            <div class="box">
               <img src="https://www.imset.ens.tn/uploads/content/medium/1662740019_article.jpg" alt="">
            </div>
            <div class="box">
               <img src="https://www.imset.ens.tn/uploads/content/medium/1657185452_article.png" alt="">
            </div>
            <div class="box">
               <img src="https://www.imset.ens.tn/uploads/content/medium/1654270809_article.jpg" alt="">
            </div>
         </div>
      </section>

            <!-- ======================================================================================================= -->
            <div style="height: 50px;"></div>
            <!-- ======================================================================================================= -->
      
      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>