<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
        <div class="Logo">
            <h2 class="Textarea" style="margin-top: 50px; font-size: 30px;">
               <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                  <div class="frst-timeline-img"><span>&nbsp;</span></div>
                  <div class="frst-timeline-content">
                     <div class="frst-timeline-content-inner">
                        <p class="tarif"><p style="color: #ffac4e;">Formation Outlook</p>
                        <p style="opacity: 0%;">...</p>
                     </div>
                  </div>
               </div>
            </h2>
         </div>
  
  
  
         <section class="section-what-do container " >
            <div class="wrapper">
               <div class="items">
                  <article >
                     <ul class="uld">
                        <li class="lid" >  Permettre aux programmeurs d'exploiter efficacement l'environnement d'exécution .NET. </li>
                        <li class="lid" >  Apporter les connaissances et les  techniques nécessaires pour construire des applications Visual BASIC complètes,  en relation avec les bases de données. </li>
                        <li class="lid" >  Développer les compétences nécessaires pour tirer parti de la combinaison de syntaxe orientée composant et de syntaxeorientée objet dans Visual Basic  pour une meilleure réutilisation du code. </li>
                        <li class="lid" > Durée: 30H </li>
                     </ul>
    
                  </article>
    
               </div>
            </div>
         </section>


      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../partials/scripte.ejs') %>
</body>
</html>