<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    

        <section style="background-color: rgba(0, 0, 0, 0.8); position: relative;">
               <div class="history">
                  <div class="container">
                     <div class="frst-timeline frst-alternate frst-date-opposite">
                        <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                           <div class="frst-timeline-img"><span>&nbsp;</span></div>
                           <div class="frst-timeline-content">
                              <div class="frst-timeline-content-inner">
                                    <h2 class="titre">Formation Word</h2>
                                    <p class="tarif">Permettre aux programmeurs d'exploiter efficacement l'environnement d'exécution .NET.</p>
                                    <p class="tarif">Apporter les connaissances et les  techniques nécessaires pour construire des applications Visual BASIC complètes,  en relation avec les bases de données.</p>
                                    <p class="tarif">Développer les compétences nécessaires pour tirer parti de la combinaison de syntaxe orientée composant et de syntaxeorientée objet dans Visual Basic  pour une meilleure réutilisation du code.</p>
                                    <p class="tarif">Durée: 30H</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </class>
            <ul class="nav__list">
               <li class="nav__list-item">
                  <a class="nav__link nav__link--btn" href="/formations_accelerees">retourner</a>
               </li>
            </ul>
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../partials/scripte.ejs') %>
</body>
</html>