<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navtel.css">
    <link rel="stylesheet" href="css/StyleHome.css">
    <title>Cours</title>
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
    <div class="menu">
        <ul>
            <a class="a" href="/notre_histoire">NOTRE HISTOIRE</a>
        </ul>  

        <ul>
            <a class="a" href="/notre_mission">NOTRE MISSION</a>
        </ul>  
    </div>
</body>
</html>