   <!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <link rel="icon" type="image/x-icon" href="image/Logo.png" />
      <link rel="stylesheet" href="css/Diplome.css">
      <title>Diplome</title>
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>

      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
            <!-- ======================================================================================================= -->
            <div style="height: 100px;"></div>
            <!-- ======================================================================================================= -->      
      
      <div class="rak wrapper serv container">
         <div class="image">
            <img src="https://www.sageworld.com/blog/wp-content/uploads/2020/05/giphy-1-1.gif" alt="">
         </div>
         <div class="text">
            <h2>Nos Diplome</h2>
            <div class="story">
               <p>L’ I.F.I.C propose 20 diplômes agréés par l’Etat en BTP et BTS dans 16 spécialités différentes telles que la Gestion Informatique, Réseaux et Sécurité Informatique, Multimédia, Infographie, Conception d’Espace, Comptabilité, Commerce International la Vente de Produits Touristiques, le Guide Touristique…</p>
               <p>Pour obtenir l'un de ces diplômes, le stagiaire doit s'engager dans une formation professionnelle de deux ans au cours de laquelle il sera amené à développer une capacité d'analyse et de synthèse et à faire preuve d'une réelle autonomie.</p>
               <p>Après une première année de formation de base dans la spécialité, le stagiaire entamera une deuxième année, où il apprendra à répondre aux besoins du métier, à déterminer le traitement, à suivre pour résoudre un problème précis tout en tenant compte des besoins et l'organisation de l'entreprise.</p>
               <h2> <a href="/btp" class="under">- Brevet De Technicien Professionnel (BTP)</a></h2>
               <h2> <a href="/bts" class="under">- Brevet De Technicien Supérieur (BTS)</a></h2>            
            </div>
         </div>
      </div>

      <div class="hid wrapper">
         <h2>Nos Diplome</h2>
         <div class="story">
            <p>L’ I.F.I.C propose 20 diplômes agréés par l’Etat en BTP et BTS dans 16 spécialités différentes telles que la Gestion Informatique, Réseaux et Sécurité Informatique, Multimédia, Infographie, Conception d’Espace, Comptabilité, Commerce International la Vente de Produits Touristiques, le Guide Touristique…</p>
            <p>Pour obtenir l'un de ces diplômes, le stagiaire doit s'engager dans une formation professionnelle de deux ans au cours de laquelle il sera amené à développer une capacité d'analyse et de synthèse et à faire preuve d'une réelle autonomie.</p>
            <p>Après une première année de formation de base dans la spécialité, le stagiaire entamera une deuxième année, où il apprendra à répondre aux besoins du métier, à déterminer le traitement, à suivre pour résoudre un problème précis tout en tenant compte des besoins et l'organisation de l'entreprise.</p>
            <h2> <a href="/btp" class="under">- Brevet De Technicien Professionnel (BTP)</a></h2>
            <h2> <a href="/bts" class="under">- Brevet De Technicien Supérieur (BTS)</a></h2>            
         </div>
      </div>


<!--       <div class="record_wrap">
         <div class="record_w">
            <a href="/btp"><button  class="button1"></button></a>
         </div>
         <div class="record_w">
            <a href="/bts"><button  class="button2"></button></a>
         </div>
      </div>
 -->      
 
       <!-- ======================================================================================================= -->
       <div style="height: 50px;"></div>
       <!-- ======================================================================================================= -->
 
 <!-- Footer start -->
      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>